In [1]:
import pandas as pd
import os

In [33]:
ENG_CSV_PATH = "D:/fastapi/data/New folder/Engineering.csv"
MED_CSV_PATH = "D:/fastapi/data/New folder/medical_clg_score.csv"
OUTPUT_CSV_PATH = "D:/fastapi/data/New folder/combined_college_data.csv"

In [34]:
print("Loading datasets...")
df_eng = pd.read_csv(ENG_CSV_PATH)
df_med = pd.read_csv(MED_CSV_PATH)

Loading datasets...

In [35]:
print("Processing Engineering data...")
eng_cols = ['institute_short', 'institute_type', 'quota', 'category', 'closing_rank', 'round_no']
df_eng_processed = df_eng[eng_cols].copy()
df_eng_processed['stream'] = 'Engineering'

Processing Engineering data...

In [36]:
print("Processing Medical data...")
# Check if 'Round' column exists before renaming
if ('Round' in df_med.columns):
    (df_med.rename(columns={'Round': 'round_no'}, inplace=True))
else:
    # If 'Round' column is missing, add a default one for compatibility
    df_med['round_no'] = 1

med_cols = {'College_Name': 'institute_short', 'AllIndiaQuota_ClosingRank': 'closing_rank', 'Category': 'category', 'round_no': 'round_no'}

Processing Medical data...

In [37]:
valid_med_cols = {k: v for k, v in med_cols.items() if k in df_med.columns}
df_med_processed = df_med[list(valid_med_cols.keys())].rename(columns=valid_med_cols).copy()

In [38]:
df_med_processed['institute_type'] = 'Medical College'
df_med_processed['quota'] = 'All India'
df_med_processed['stream'] = 'Medical'

In [39]:
print("Combining and cleaning data...")
combined_df = pd.concat([df_eng_processed, df_med_processed], ignore_index=True)
combined_df.dropna(inplace=True)
combined_df = combined_df[combined_df['closing_rank'] > 0]

Combining and cleaning data...

In [43]:
combined_df.to_csv(OUTPUT_CSV_PATH, index=False)
print(f"✅ New combined dataset with 'round_no' saved successfully to: {OUTPUT_CSV_PATH}")

✅ New combined dataset with 'round_no' saved successfully to: D:/fastapi/data/New folder/combined_college_data.csv

In [44]:
print("\nPreview of the combined data:")
display(combined_df.head())

Preview of the combined data:

,institute_short,institute_type,quota,category,closing_rank,round_no,stream
0,IIT-Bombay,IIT,AI,GEN,1841,6,Engineering
1,IIT-Bombay,IIT,AI,OBC-NCL,1098,6,Engineering
2,IIT-Bombay,IIT,AI,SC,468,6,Engineering
3,IIT-Bombay,IIT,AI,ST,145,6,Engineering
4,IIT-Bombay,IIT,AI,GEN-PWD,94,6,Engineering